$paddingTableInner: 2px 10px;

.index {
  white-space: nowrap;
  width: 50px !important;
  text-align: center !important;
  font-size: 14px !important;
  font-weight: 500 !important;
}

.num,
.table_isk_th:nth-child(2) {
  white-space: nowrap;
  width: 140px !important;
}

.codeidIsk {
  &__inner {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}

.date,
.table_isk_th:nth-child(3) {
  width: 115px;
}

.plaintiffTable,
.table_isk_th:nth-child(4) {
  width: 150px !important;
}

.defendant,
.table_isk_th:nth-child(5) {
  width: 120px;
  padding: $paddingTableInner;
}

.arbitrs,
.table_isk_th:nth-child(5) {
  width: 150px;
  padding: $paddingTableInner;
}
