$paddingTableInner: 2px 10px;

.num,
.table_isk_th:nth-child(1) {
  white-space: nowrap;
  width: 140px !important;
}

.date,
.table_isk_th:nth-child(2) {
  width: 115px;
}

.plaintiffTable,
.table_isk_th:nth-child(3) {
  width: 150px !important;
}

.defendant,
.table_isk_th:nth-child(4) {
  width: 120px;
  padding: $paddingTableInner;
}

.arbitrs,
.table_isk_th:nth-child(5) {
  width: 150px;
  padding: $paddingTableInner;
}