.plaintiffData {
  display: flex;
  gap: 10px;
  margin: 5px 0 0 0;
  &__list {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 5px 0 0 0;
    // padding: 18px 0 0 0;
    // background: red;
    width: 320px;
    li {
      > div:nth-child(1) {
        display: flex;
        align-items: center;
        padding: 0 0 0 5px;
        > img {
          display: block;
          width: 25px;
          height: 20px;
          // background: red;
        }
        button {
          // background-color: rgba(128, 128, 128, 0.329);
          padding: 10px 8px;
          // width: 120px;
          font-style: normal;
          line-height: normal;
          margin: 2px 0px;
          transition: 0.5s;
          background: transparent !important;
          // box-shadow: 0px 0px 5px 0px rgba(34, 60, 80, 0.5);
          font-size: 18px;
          font-weight: 600;
          font-family: 'Montserrat', sans-serif;
        }
        button:hover {
          background-color: rgba(128, 128, 128, 0.315);
        }
      }
    }
    .activeBtnsPlaint {
      > div:nth-child(1) {
        button {
          color: #4650dd;
        }
      }
    }
    &__inner {
      // background: red;
      padding: 0 0 0 10px;
      > button {
        font-family: Gilroy;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        margin: 2px 0px;
        transition: 0.5s;
        background: transparent;
        border-radius: 5px;
        padding: 4px 8px;
        text-align: left !important;
        display: flex;
        justify-content: start;
      }
    }
  }
}
.plantiffBlockMain {
  display: flex;
  justify-content: center;

  gap: 20px;
  // align-items: center;
  width: 100%;
  // padding: 100px 0px;
  // background: red;
  @media screen and (max-width: 1730px) {
    // flex-direction: column;
    // justify-content: start;
  }
}
