.notification {
  width: 100%;
  //   background: red;
  padding: 12px 10px;
  height: 100vh;
  p {
    font-size: 25px;
  }
  > div {
    height: 98vh !important;
    .table_isk_td:nth-child(1),
    .table_isk_th:nth-child(1) {
      min-width: 25px;
      max-width: 35px;
      @media screen and (max-width: 1110px) {
        min-width: 50px;
        max-width: 65px;
      }
    }
  }
}
