.mainTables {
    // background: red;
    .moreIsksStatus {
        // justify-content:center !important;
        > button {
            padding: 11px 13px !important;
        }
    }
    .moreBtn {
        width: 120px !important;
    }
}
.redone {
    height: 15px !important;
    margin: 5px 0;
}
