.applicationFiles {
  padding: 20px 10px 10px 10px;
  border-radius: 8px;
  h5 {
    font-size: 22px;
    text-align: center;
    margin: 0 0 40px 0;
  }
  .applicationFiles__inner {
    margin: 0 0 20px 0;
    .clickInputFile {
      display: flex;
      align-items: center;
      gap: 10px;
      cursor: pointer;
      > button {
        padding: 5px 10px;
        border-radius: 5px;
        background-color: #a9afb8;
        color: #333;
        min-width: 220px;
        font-size: 18px;
        font-weight: 600;
        font-family: 'Montserrat', sans-serif;
      }
      > span {
       
        font-weight: 600;
        font-family: 'Montserrat', sans-serif;
        color: #5e6e82;
        font-size: 16px;
        b {
          color: red;
          font-size: 15px;
        }
      }
    }
    .filesBlock {
      display: flex;
      gap: 10px;
      padding: 5px 0 0 0;
      flex-wrap: wrap;
      .file-item {
        display: flex;
        align-items: center;
        gap: 5px;
        padding: 5px;
        border-radius: 5px;
        border: 1px solid grey;
        button {
          background: transparent;
          width: 20px;
          height: 20px;
          img {
            width: 100%;
            height: 100%;
            background: transparent;
          }
        }
      }
    }
  }
}
