.descriptionClaim {
  padding: 0px 10px 10px 10px;
  border-radius: 8px;
  
  form {
    > div {
      margin: 5px 0px;
      label {
        display: inline-block;
        font-size: 18px;
        margin: 20px 0 10px 0;
        cursor: pointer;
        font-weight: 500;
        font-family: 'Montserrat', sans-serif;
        color: #5e6e82;
        font-size: 18px;
      }
      textarea {
        width: 100%;
        display: block;
        height: 380px;
        height: 31vh;
        // background: red;
        border-radius: 8px;
        border: none;
        padding: 5px 10px;
        resize: none;
        box-shadow: 0px 0px 2px 0px rgba(34, 60, 80, 0.5);
      }
      textarea::placeholder{
        color: #a9afb8;
      }
      textarea:focus {
          border: 1px solid #d8e2ef;
          box-shadow: 0 1px 5px 0 rgba(65, 69, 88, 0.1), 0 3px 6px 0 rgba(0, 0, 0, 0.07);;
          outline: none;
      }
    }
    .sumIsk {
      display: flex;
      align-items: flex-end;
      gap: 30px;
      margin: 20px 0 0 0;
      > div {
        > p {
          font-weight: 600;
          font-family: "Montserrat", sans-serif;
          color: #5e6e82;
          font-size: 18px;
          padding: 0 0 10px 0;
        }
      }
      input {
        width: 100%;
        height: 40px;
        padding: 2px 10px;
        border: none;
        border-radius: 5px;
        border: 1px solid #d8e2ef;
        backdrop-filter: blur(15px);
        color: #344050;
        min-width: 300px;
      }
     .blockChoice {
      width: 240px;
     
      label {
        font-weight: 600;
        font-family: "Montserrat", sans-serif;
        color: #5e6e82;
        font-size: 18px;
        padding: 0;
        width: 240px;
      }
      .choiceNoneData__inner {
        width: 185px;
      }
     }
    }
  }
}