.titlesTable {
  tr {
    th:nth-child(2) {
      text-align: center !important;
      width: 50px !important;
    }

    th:nth-child(1) {
      width: 100px;
      text-align: center !important;
    }

    th {
      font-weight: 700;
      color: rgba(0, 0, 0, 0.76);
      font-size: 14px;
      background: #c4d9f8;
      background: rgb(237, 242, 249);
      color: #fff;
      text-align: left;
      padding: 0 10px;
      color: #344050;
    }
  }
}
