.main {
  display: flex;
  position: relative;
  height: 100vh;
}

.nav_footer {
  position: relative;
  width: 100%;
  height: 100vh;
}

.nav {
  background-color: #25282a;
  height: 35px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 0.3rem;
}

.nav img {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 5px;
}

.nav span {
  color: white;
}

.left_block {
  background-color: #25282a;
  width: 4.5rem;
  min-height: 100%;
  /* box-shadow: 4px 4px 13px 10px rgba(52, 58, 64, 0.33); */
  height: 100vh;
}

.left_cabinet {
  margin-top: 35px;
  padding: 5px;
  background-color: #fb9a12;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.left_cabinet img {
  width: 2rem;
  height: 1.9rem;
}

.left_cabinet span {
  text-align: center;
  font-weight: 500;
  line-height: 20px;
  font-size: 14px;
}

.footer_block {
  width: 100%;
  background-color: #25282a;
  position: absolute;
  bottom: 0;
}

.footer_block span {
  color: white;
  padding-left: 40px;
  font-size: 12px;
}

.table_container {
  width: 99%;
  margin: 0 auto;
}

.tabs_ul {
  display: flex;
  align-items: center;
  gap: 5px;
  margin: 10px auto;
  > li:nth-child(1){
    > button {
      width: 97px !important;
    }
  }
  > li {
    button {
      padding: 5px 10px;
      border-radius: 8px;
      background: #9a9a9a;
      color: white;
    }
  }
}

.disableBtn,
.activeBtn {
  display: inline-block;
  overflow: hidden;
  z-index: 1;
  position: relative;
  border: none;
  padding: 5px 15px;
  border: 1px solid #d2d1d1;
  font-weight: 500;
  border-radius: 5px;
  background-color: transparent;
}

.disableBtn::before,
.activeBtn::before {
  position: absolute;
  content: '';
  width: 500px;
  /* height: 100px; */
  background: #9a9a9a;
  z-index: -1;
  border-radius: 50%;
}

.activeBtn {
  background: #9a9a9a;
  color: white;
}

.disableBtn:hover,
.activeBtn:hover {
  color: white;
}

.disableBtn:before,
.activeBtn:before {
  top: 100%;
  left: 100%;
  transition: 0.3s all;
}

.disableBtn:hover::before,
.activeBtn:hover::before {
  top: -30px;
  left: -30px;
}
