$paddingTableInner: 2px 10px;

.mainTables {
  height: 98vh;
  padding: 10px 0px 5px;
  width: 100%;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0 7px 14px 0 rgba(65, 69, 88, 0.1),
    0 3px 6px 0 rgba(0, 0, 0, 0.07);
  margin: 10px 0 0 0;

  .statusGreen {
    color: #16bb16 !important;
    padding: 0px 0px 0px 10px;
  }

  .statusRed {
    color: red !important;
    padding: 0px 0px 0px 10px;
  }

  .iskData {
    overflow: scroll;
    border-top: 1px solid rgb(237, 242, 249);
    padding-bottom: 0 !important;
    height: calc(100% - 45px);
    width: 100%;

    .table_isk {
      border-collapse: collapse;
      width: 100% !important;
      display: table;

      thead {
        height: 70px;
        position: sticky;
        top: -1px;
        z-index: 1;
        border: 1px solid rgb(237, 242, 249);
      }

      .tbody_isk {
        tr {
          cursor: pointer;
        }

        .colorWhite {
          background: #fff;
        }

        .colorGray {
          background: #f9fafd;
        }
      }

      td {
        font-size: 12px;
        font-weight: 500;
        border: 1px solid rgb(237, 242, 249);
        padding: 8px;
        font-weight: 400;
        text-align: left;

        span {
          display: block;
          overflow: hidden;
          text-overflow: ellipsis;
          width: 100%;
          text-align: left;
          font-weight: 500;
          font-size: 14px !important;
        }

        .docsBlock {
          display: flex;
          flex-direction: column;
          gap: 10px;

          &__inner {
            width: 100%;
            display: flex;
            align-items: center;
            gap: 5px;
          }
        }
      }

      .reglametCount {
        span {
          text-align: center;
        }
        width: 50px;
      }

      .documents,
      .table_isk_th:last-child {
        width: 20px;
        border-right: 1px solid rgb(234, 234, 234);
        padding: 2px 8px;
        position: static;

        span {
          margin: 5px 0 5px 0;
          display: flex;
          gap: 8px;
          font-size: 13px !important;
          font-weight: 600 !important;

          img {
            display: block;
            min-width: 20px !important;
            height: 20px !important;
          }
        }

        .documentBlock {
          max-height: 300px;
          overflow-y: scroll;
        }
      }
    }
  }
}
