$paddingTableInner: 2px 10px;

.mainTables {
  height: 98vh;
  padding: 10px 0px 5px;
  width: 100%;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0 7px 14px 0 rgba(65, 69, 88, 0.1),
    0 3px 6px 0 rgba(0, 0, 0, 0.07);
  margin: 10px 0 0 0;

  .statusGreen {
    color: #16bb16 !important;
    padding: 0px 0px 0px 10px;
  }

  .statusRed {
    color: red !important;
    padding: 0px 0px 0px 10px;
  }

  .iskData {
    overflow: scroll;
    border-top: 1px solid rgb(237, 242, 249);
    padding-bottom: 0 !important;
    height: calc(100% - 45px);
    width: 100%;

    .table_isk {
      border-collapse: collapse;
      width: 150% !important;
      display: table;

      thead {
        height: 70px;
        position: sticky;
        top: -1px;
        z-index: 1;
        border: 1px solid rgb(237, 242, 249);
      }

      .tbody_isk {
        tr {
          cursor: pointer;
        }

        .colorWhite {
          background: #fff;
        }

        .colorGray {
          background: #f9fafd;
        }
      }

      tr {
        height: 70px;
      }

      td {
        font-size: 12px;
        font-weight: 500;
        border: 1px solid rgb(237, 242, 249);
        padding: 8px;
        font-weight: 400;
        text-align: left;

        span {
          display: block;
          overflow: hidden;
          text-overflow: ellipsis;
          width: 100%;
          text-align: left;
          font-weight: 500;
          font-family: "Montserrat", sans-serif;
          font-size: 14px !important;
        }

        .docsBlock {
          display: flex;
          flex-direction: column;
          gap: 10px;

          &__inner {
            width: 100%;
            display: flex;
            align-items: center;
            gap: 5px;
          }
        }
      }

      .reglametCount {
        span {
          text-align: center;
        }
        width: 50px;
      }

      ///// заголовки
      th {
        font-weight: 700;
        color: rgba(0, 0, 0, 0.76);
        font-size: 15px;
        background: #c4d9f8;
        background: rgb(237, 242, 249);
        color: #fff;
        text-align: left;
        padding: 0 10px;
        color: #344050;
      }

      // th:nth-child(1) {
      //   width: 100px;
      // }

      // th:nth-child(2) {
      //   width: 50px;
      // }

      // ///// размеры и отступы каждого столбца

      // .reglamet,
      // .table_isk_th:nth-child(6) {
      //   width: 150px;
      // }

      // .arbitrs,
      // .table_isk_th:nth-child(7) {
      //   max-width: 170px;
      //   width: 170px;
      // }

      // .secr,
      // .table_isk_th:nth-child(8) {
      //   width: 145px;
      // }

      // .allStatus,
      // .table_isk_th:nth-child(9) {
      //   width: 120px;
      // }

      // .typeUser,
      // .table_isk_th:nth-child(10) {
      //   width: 150px;
      // }

      // .times,
      // .table_isk_th:nth-child(11) {
      //   width: 150px;
      // }

      .documents,
      .table_isk_th:last-child {
        width: 20px;
        border-right: 1px solid rgb(234, 234, 234);
        padding: 2px 8px;
        position: static;

        span {
          margin: 5px 0 5px 0;
          display: flex;
          gap: 8px;
          font-size: 13px !important;
          font-weight: 600 !important;

          img {
            display: block;
            min-width: 20px !important;
            height: 20px !important;
          }
        }

        .documentBlock {
          max-height: 300px;
          overflow-y: scroll;
        }
      }
    }

    // &::-webkit-scrollbar {
    //   height: 10px;
    //   max-height: 10px;
    //   min-height: 10px;
    //   min-width: 10px;
    //   max-width: 10px;
    //   width: 10px;
    //   margin: 2px;
    // }

    // &::-webkit-scrollbar-track {
    //   background-color: #f0eaea;
    // }

    // &::-webkit-scrollbar-thumb {
    //   background-color: #adc7e9b4;
    //   border-radius: 2px;
    //   cursor: pointer;
    // }
  }
}
