$colordescription: #c4d9f8;

.exampleBlock {
  background-color: rgba(255, 255, 255, 0.564);
  width: 100%;
  padding: 15px 10px;
  border: 2px solid $colordescription;
  border-radius: 8px;
  h5 {
    font-size: 16px;
    color: #4650dd;
    line-height: 18px;
    margin: 0 0 5px 0;
  }
  p {
    font-size: 14px;
    color: #4650dd;
    line-height: 18px;
  }
}
