.choiceBtn {
  color: #4d5969;
  font-size: 12px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  transition: 0.2s;
  padding: 8px 13px;
  height: auto !important;
  margin: 0 !important;
  border-radius: 3px;
  background: rgb(237, 242, 249);
}

.choiceInner {
  padding: 10px 25px 25px 25px;

  .acceptSecr {
    background: green;
    width: 100%;
    padding: 10px 0;
    border-radius: 8px;
    color: #fff;
    margin: 20px 0 0 0;
  }
}

.editSecr {
  .modal__inner .krest {
    right: 5px !important;
    top: 5px !important;
    padding: 0 !important;
  }

  > button {
    width: 40px;
    min-width: 40px;
    height: 37px;
    min-height: 37px;
    padding: 3px;

    &:hover {
      display: block;
    }

    img {
      width: 60%;
      height: 60%;
    }

    // span {
    //   position: absolute !important;
    //   left: 0px;
    //   bottom: 0px;
    //   border-radius: 3px;
    //   z-index: 10;
    //   max-width: 150px !important;
    //   min-width: 125px !important;
    //   display: none !important;
    //   padding: 5px;
    // }
  }

  .acceptSecr {
    margin-top: 15px !important;
    font-size: 16px !important;
  }
}
