.addPlaintiff {
  .blockfaceMan {
    position: absolute;
    right: 5px;
    top: 5px;
    display: flex;
    gap: 10px;
    background: transparent;

    > button {
      display: block;
      padding: 8px;
      border-radius: 8px;
      background-color: #fff8ee;
      font-family: Gilroy;
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      margin: 2px 0px;
      transition: 0.5s;
    }
  }
}
