.pdfFileReject {
  max-width: 100%;
  min-width: 100%;
  align-items: center;
  height: 92vh;
  // .tox .tox-statusbar__path {
  //   display: none !important;
  // }
  // .tox .tox-statusbar__text-container{
  //   display: none !important;
  // }
  // > div:nth-child(2) {
  //   > div:nth-child(1) {
  //     > div:nth-child(1) {
  //       > div:nth-child(1) {
  //         button:nth-child(1) {
  //           width: 1px !important;
  //           cursor: pointer;
  //         }
  //         button:nth-child(1):after {
  //             content: '';
  //             position: absolute;
  //             padding: 8px 18px;
  //             height: 18px;
  //             top: 7px;
  //             left: 5px;
  //             color: #4d5969;
  //             font-size: 16px;
  //             font-weight: 600;
  //             font-family: 'Montserrat', sans-serif;
  //             text-align: center;
  //             background-image: url("../../../asstes/images/pdfFile.png");
  //             margin: 0 0 0 5px;
  //             background-repeat: no-repeat;
  //             width: 0px;
  //         }
  //         button:not(:first-child) {
  //           display: none;
  //         }
  //       }
  //     }
  //   }
  // }
}
