.lookPdfModal {
    &__inner {
        display: flex;
        align-items: center;
        gap: 5px;
        cursor: pointer;
        > img {
            width: 16px;
            height: 16px;
            display: block;
        }
    }
    span {
        width: 100%;
        display: block;
        width: 100%;
        text-align: left;
        font-weight: 500;
        font-family: 'Montserrat', sans-serif;
        font-size: 15px !important;
        line-height: 16px;
    }
    .blockPdf {
        height: 95vh;
        width: 1000px;
    }
}