.logout {
  position: absolute;
  bottom: 30px;
  left: 0px;
  padding: 15px 20px !important;
  display: flex;
  align-items: center;
  width: 100%;
  gap: 10px;
  background: transparent;

  img {
    width: 24px;
    height: 24px;
  }

  p {
    color: #5e6e82 !important;
    text-align: left !important;
    line-height: 22px !important;
    width: 100% !important;
    position: relative !important;
    font-weight: 600 !important;
    font-size: 20px !important;
  }
  
}
