.logout {
  position: absolute;
  bottom: 20px;
  left: 10px;
  display: block;
  padding: 15px 20px !important;
  line-height: 18px;
  font-size: 14px;
  // background: #555;
  color: #fff;
  width: 190px !important;
}
