.moreBtnStatus {
    display: flex;
    flex-direction: column;
    gap: 8px;
    button {
        padding: 8px 13px !important;
        width: 170px;
    }
}
.colGreen {
    color: #16bb16;
    padding: 0px 0px 0px 10px

}