.activePlaint {
  color: #16bb16;
  padding: 0px 16px;
}

.noActivePlaint {
  color: red;
  padding: 0px 16px;
}

.allStatus {
  > span {
    font-size: 15px;
    font-weight: 500;
    overflow: hidden;
    text-align: left;
    text-overflow: ellipsis;
    width: 100%;
    padding: 5px 0px;
    display: block;
  }
}
