.activePlaint {
  color: #16bb16;
  padding: 0px 16px;
}

.noActivePlaint {
  color: red;
  padding: 0px 16px;
}

.allStatus {
  //   .statusIsks {
  //     display: flex;
  //     align-items: center;
  //     justify-content: center;
  //     gap: 5px;

  //     button {
  //       color: #4d5969;
  //       font-size: 12px;
  //       font-weight: 600;
  //       font-family: "Montserrat", sans-serif;
  //       transition: 0.2s;
  //       padding: 5px 13px;
  //       height: auto !important;
  //       margin: 0 !important;
  //       border-radius: 3px;
  //       background: rgb(237, 242, 249);

  //       > img {
  //         width: 15px;
  //         height: 25px;
  //       }
  //     }

  //     button:hover {
  //       background: rgba(215, 219, 224, 0.76);
  //     }
  //   }

  > span {
    font-size: 15px;
    font-weight: 500;
    overflow: hidden;
    text-align: left;
    text-overflow: ellipsis;
    width: 100%;
    padding: 5px 0px;
    display: block;
  }
}
