table {
  table-layout: fixed;
  border-collapse: collapse;
}

.create_isk_btn {
  margin: 10px auto;
}

.create_isk_btn button {
  display: block;
  padding: 8px 15px;
  border-radius: 5px;
  background: #fb9a12;
  font-family: Gilroy;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  transition: 0.5s;
}

.table_block {
  border-radius: 60px;
}

.table_isk {
  width: 100% !important;
  display: table;
}

.main_tabla_isk {
  box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.5);
  position: relative;
  border: 1px solid #d2d1d1;
  height: 92vh;
  overflow: scroll;
}

/// убмраю полосу прокрутки
.main_tabla_isk::-webkit-scrollbar {
  width: 0.5em;
}

.main_tabla_isk::-webkit-scrollbar-track {
  background: transparent;
}

.main_tabla_isk::-webkit-scrollbar-thumb {
  background-color: #888;
  outline: 1px solid slategrey;
}
//////////////////////////////

.table_isk thead {
  height: 60px;
  position: sticky;
  top: 0;
  z-index: 1;
}

.table_isk tr {
  height: 60px;
  border-bottom: 1px solid rgb(221, 221, 221);
  cursor: pointer;
}

.table_isk td {
  font-size: 12px;
  font-weight: 500;
  text-align: center;
  cursor: pointer;
  background: rgb(242, 243, 242) !important;
  border: 1px solid #ddd;
  padding: 8px;
}

.table_isk th {
  font-size: 13px;
  font-weight: 500;
  text-align: center;
  border: 1px solid #ddd;
  padding: 8px;
}

.span_teble {
  color: #fb9a12;
}

.table_isk_td:nth-child(1) div {
  white-space: wrap !important;
}
.table_isk_td:nth-child(1) div > span {
  display: block;
}

.table_isk_td:nth-child(2) span {
  font-size: 12px;
  padding: 2px 5px;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
}

.table_isk_td:nth-child(3) span {
  font-size: 12px;
  padding: 2px 5px;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
}

.table_isk_td:nth-child(6) span {
  font-size: 12px;
  padding: 2px 5px;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
}

.table_isk_td:nth-child(7) span {
  font-size: 12px;
  padding: 2px 5px;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
}

.table_isk_td:nth-child(8) span {
  font-size: 12px;
  padding: 2px 5px;
  border-radius: 12px;
}

.table_isk_td:nth-child(9) span {
  font-size: 12px;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 5px;
}

.table_isk th {
  font-weight: 600;
  color: white;
  background-color: #555;
}

.table_isk_td:nth-child(1) {
  padding-left: 5px;
  white-space: nowrap;
}

.tbody_isk tr:nth-child(even) {
  background-color: #ededed;
}

.table_isk_td:nth-child(1),
.table_isk_th:nth-child(1) {
  width: 100px;
}

.table_isk_td:nth-child(2),
.table_isk_th:nth-child(2) {
  width: 220px;
}

.table_isk_td:nth-child(3),
.table_isk_th:nth-child(3) {
  width: 210px;
}

.table_isk_td:nth-child(4),
.table_isk_th:nth-child(4) {
  width: 150px;
}

.table_isk_td:nth-child(5),
.table_isk_th:nth-child(5) {
  width: 100px;
}

.table_isk_td:nth-child(6),
.table_isk_th:nth-child(6) {
  width: 12.67rem;
}

.table_isk_td:nth-child(7),
.table_isk_th:nth-child(7) {
  width: 100px;
}

.table_isk_td:nth-child(8),
.table_isk_th:nth-child(8) {
  width: 180px;
}

.table_isk_td:nth-child(9),
.table_isk_th:nth-child(9) {
  width: 200px;
  border-right: 1px solid rgb(234, 234, 234);
}

.table_scroll {
  max-height: calc(90vh - 120px);
  overflow-x: auto;
}

/* Кастомный скролл */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f100;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(234, 234, 234);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.modal_isk_one {
  position: absolute;
  top: 0;
  left: -4.5rem;
  background-color: white;
  z-index: 100;
  width: calc(100% + 4.5rem);
  height: 100%;
  padding: 20px;
}

.tbody_isk tr:hover {
  background-color: #dcdcdc;
}

/* ////////////////////////////////// */
.mainTable {
  display: flex;
  /* align-items: center; */
  gap: 10px;
}

.mainTable__inner {
  display: flex;
  flex-direction: column;
  gap: 15px;
  position: relative;

  > button {
    padding: 20px 8px;
    border-radius: 8px;
    line-height: 18px;
    font-size: 14px;
    background: #555;
    color: #fff;
  }
}

.documentBlock {
  > img {
    display: block;
    width: 20px;
    height: 20px;
  }
}
