@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 18px;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
}

.activeBtns {
  background-color: #4650dd !important;
  color: #fff !important;
}

.noneData {
  display: none;
}

.viewData {
  display: block;
}

.required {
  color: red;
  font-size: 22px;
  font-weight: 600;
  margin: 0 0 0 5px;
}

.greenStatus {
  color: #16bb16;
}

.redStatus {
  color: red !important;
}

.statusIsks {
  display: flex;
  align-items: center;
  // justify-content: center;
  gap: 5px;

  button {
    color: #4d5969;
    font-size: 12px;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    transition: 0.2s;
    padding: 5px 13px;
    height: auto !important;
    margin: 0 !important;
    border-radius: 3px;
    background: rgb(237, 242, 249);
    position: relative;

    &:hover {
      background: rgba(215, 219, 224, 0.76);

      span {
        display: flex !important;
        align-items: center;
        background: #fff;
        box-shadow: 0 0 0 1px rgba(43, 45, 80, 0.1),
          0 2px 5px 0 rgba(43, 45, 80, 0.08), 0 1px 1.5px 0 rgba(0, 0, 0, 0.07),
          0 1px 2px 0 rgba(0, 0, 0, 0.08);
      }
    }

    img {
      width: 15px;
      height: 25px;
    }

    span {
      position: absolute !important;
      left: 42px;
      bottom: 42px;
      border-radius: 3px;
      // transform: translateY(-50%);
      z-index: 10;
      max-width: 150px !important;
      min-width: 125px !important;
      display: none !important;
      // max-height: 40px !important;
      // min-height: 25px !important;
      padding: 5px;
    }
  }
}

.allHeight {
  height: auto !important;
}

@keyframes animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.nurdin {
  display: inline;
  background: red;
  color: transparent !important;
  position: absolute;
  z-index: 1;
  margin-top: 20px;
  position: relative;
}
