$widthMenu: 350px;

.plaintiffBlock {
  display: flex;
  gap: 5px;
  width: 100%;
  // max-width: 2800px;
  // margin: 0 auto;
  // padding: 0 0 10px 0;

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    min-width: $widthMenu;
    width: $widthMenu;
    max-width: $widthMenu;
    height: 100vh;
    box-shadow: 0px 0px 4px 0px rgba(34, 60, 80, 0.5);
    // border: 1px solid rgba(34, 60, 80, 0.5);
    h1,
    p {
      display: inline;
      font-size: 28px;
      color: #000;
      text-align: center;
      font-family: Roboto;
      font-style: normal;
      font-weight: 700;
      line-height: 30px;
    }
    h1 {
      width: 100%;
      border-bottom: 1px solid #4650dd;
      padding: 40px 0 5px 0;
      margin: 0 0 80px 0;
    }
    p {
      color: #4650dd;
    }
    > div {
      background: transparent;
      text-align: left;
      width: 100%;
      gap: 5px;
      > button {
        padding: 15px 35px 15px 20px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: #fff;
        > div {
          background: transparent;
          text-align: left;
          display: flex;
          align-items: center;
          gap: 5px;
          .imgIcon {
            width: 20px;
            height: 20px;
          }
          > p {
            color: #322f2e;
            text-align: left;
            font-family: Roboto;
            font-size: 20px;
            font-weight: 700;
            line-height: 20px;
            width: 100%;
            position: relative;
            > button {
              background: #fff;
              border-radius: 50%;
              display: inline-block;
              border: 1px solid #000;
              color: #000;
              height: 20px;
              min-width: 20px;
              text-align: center;
              font-size: 12px;
              position: absolute;
              right: -30px;
              top: -5px;
              display: flex;
              justify-content: center;
              align-items: center;
              font-weight: 500;
              transform: rotate(4deg);
            }
          }
        }
        > img {
          width: 16px;
          height: 16px;
        }
      }
    }
    .activePage {
      background-color: #4650dd !important;
      p {
        color: #fff !important;
      }
    }
    .noActiveInnerBtn {
      transition: 0.5s;
    }
    .activeInnerBtn {
      transform: rotate(180deg);
      transition: 0.5s;
    }
    &__pages {
      animation: innerPages 0.5s ease forwards;
      box-shadow: inset 4px -2px 5px 0 rgba(0, 0, 0, 0.075);
      padding: 0 0 5px 0;
      > li {
        > button {
          text-align: left !important;
          padding: 10px 8px 10px 20px;
          width: 100%;
          color: #322f2e;
          text-align: left;
          font-family: Roboto;
          font-size: 16px;
          font-weight: 600;
          line-height: 20px;
          background: #fff;
        }
        .activeBtnsPage {
          background: #7e85e7;
          color: #fff !important;
        }
      }
    }
  }
}

@keyframes innerPages {
  from {
    opacity: 0;
    height: 0;
  }
  to {
    height: 250px;
    opacity: 1;
  }
}
