.notFound {
    background: #f9fafd;
    height: 100vh;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    div {
        // border: 2px dotted #000;
        // border-radius: 50%;
        // padding: 100px;
        img {
            width: 520px;
            height: 190px;
            display: block;
            margin: 0 auto 60px;
        }
        h1 {
            color: #5e6e82;
            font-size: 45px;
            font-weight: 700;
            font-family: "Montserrat", sans-serif;
            text-transform: uppercase;
        }
    }
}